<div class="tab active" data-tab="general">
  <h2>{{localize "ningov-spellpoints.poptitle"}}</h2>
  <form autocomplete="off" class="ningov-spellpoints">

    <div class="form-group">
      <label>{{localize "ningov-spellpoints.resourceLabel"}}</label>
      <input type="text" name="spResource" data-dtype="string" value="{{ spResource }}"/>
      <p class="notes">{{localize "ningov-spellpoints.resourceNote"}}</p>
    </div>
    
    <div class="form-group">
      <label>{{localize "ningov-spellpoints.mixedLabel"}}</label>
      <input type="checkbox" name="spMixedMode" data-dtype="Boolean" {{checked spMixedMode}}/>
      <p class="notes">{{localize "ningov-spellpoints.mixedMode"}}</p>
    </div>
      
    <div class="form-group">
      <label>{{localize "ningov-spellpoints.autoLabel"}}</label>
      <input type="checkbox" name="spAutoSpellpoints" data-dtype="Boolean" {{checked spAutoSpellpoints}}/>
      <p class="notes">{{localize "ningov-spellpoints.autoNote"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "ningov-spellpoints.formulaLabel"}}</label>
      <select name="spFormula" style="flex: 1;">
        {{#select spFormula}}
          {{#each spFormulas as |name key|}}
            <option value="{{key}}">{{name}}</option>
          {{/each}}
        {{/select}}
      </select>
      <p class="notes">{{localize "ningov-spellpoints.formulaNote"}}</p>
      <!-- <p class="notes">{{localize "ningov-spellpoints.formulaNote2"}} <a href="https://www.dmsguild.com/product/272967/Advanced-Magic--Spell-Points-System-5e">{{localize "ningov-spellpoints.AMLinkLabel"}}</a></p> -->
    </div>
    <hr>
    <p><b>{{localize "ningov-spellpoints.spellPointsCostsTitle"}}</b></p>
    {{#each spellPointsCosts as |cost level|}}
    <div class="form-group">
      <label>{{ spFormat "ningov-spellpoints.costLabel" slotLevel=level }}</label>
      <input style="flex:0.2;text-align:right;" max="999" min="0" size="3" name="spellPointsCosts.{{level}}" value="{{ cost }}" type="number" data-dtype="number"/>
    </div>
    {{/each}}
    <p>{{localize "ningov-spellpoints.spellPointsCostsNote"}}</p>
    
    <hr>
    <p><b>{{localize "ningov-spellpoints.AMTitle"}}</b></p>
    <p class="notes">{{localize "ningov-spellpoints.AMNotes"}}</p>
    <p class="notes">{{localize "ningov-spellpoints.AMInstructions"}} <a href="https://www.dmsguild.com/product/272967/Advanced-Magic--Spell-Points-System-5e">{{localize "ningov-spellpoints.AMLinkLabel"}}</a> {{localize "ningov-spellpoints.AMInstructions2"}}</p>
    <div class="form-group">
      <label>{{localize "ningov-spellpoints.enableVariantLabel"}}</label>
      <input type="checkbox" name="spEnableVariant" data-dtype="Boolean" {{checked spEnableVariant}}/>
      <p class="notes">{{localize "ningov-spellpoints.enableVariantNote"}}</p>
    </div>
    <div class="form-group">
      <label>{{localize "ningov-spellpoints.spLifeCostLabel"}}</label>
      <input style="flex:0.2;text-align:right;" max="999" min="0" size="3" type="number" data-dtype="number" name="spLifeCost" value="{{ spLifeCost }}"/>
      <p class="notes">{{localize "ningov-spellpoints.spLifeCostNote"}}</p>
    </div>

    <hr>
    
    <div class="form-group" style="margin: 10px;">
      <button type="submit" name="submit">
        <i class="fas fa-save"></i> {{localize "ningov-spellpoints.save"}}
      </button>
      <button type="button" name="reset">
        <i class="fas fa-undo"></i> {{localize "ningov-spellpoints.reset"}}
      </button>
    </div>

  </form>
</div>
